/* Import statements here ...*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);

body {
    font-family: 'Open Sans';
    margin: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed';
}

footer.main-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-left: -20px;
}
footer > ul.footer-nav > li {
    display: inline-block;
    list-style: none;
}
footer > ul.footer-nav {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.footer-nav > li:after {
    margin-left: 2px;
    margin-right: 2px;
    content: "|";
}
ul.footer-nav > li:last-child:after {
    content: "";
}

/* Adding some whitespace */
p {
    margin-bottom: 12px;
}
p.lead {
  margin-bottom: 20px;
  margin-top: 20px;
}
#platforms > h2 {
    font-family: 'Roboto Condensed';
}
#platforms > table {
    font-family: 'Open Sans';
}

/* Links */
a {
    color: #682079;
}
a:hover {
    color: #682079;
    text-decoration: underline;
}

.btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
  color: #fff;
  background-color: #682079;
}
.btn-gs-active {
    color: #fff;
    background-color: #682079;
}

/* Index page styles */
.btn-index-download {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    padding: 8px 24px;
    margin-top: 25px;
}
.btn-index-download:hover {
  color: #fff;
  background-color: #682079;
}
.lead-title {
    font-size: 45px;
    margin-top: 55px;
    margin-bottom: 35px;
}

/* Install button tiles */
.install-tile {
    width: 150px;
    height: 150px;
    background-color: #682079;
    /* add drop shadow here */
    display: inline-block;
    padding: 15px;
    margin-right: 25px; 
    color: #fff;
    font-family: 'Roboto Condensed';
    /*font-weight: bold;*/
    font-size: 18px;
}
.install-tile:hover {
    background-color: #932DAB;
    color: #fff;
    text-decoration: none;
}

/* Menu stuff */
.sub-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-menu > a {
    padding: 5px;
    color: #ccc;
}
.sub-menu > a:hover {
    text-decoration: none;
    color: #000;
}
.main-content-slide {
    position: relative;
    left: 205px;
}
.nav-menu-header {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.nav-menu-header > img {
    /*box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);*/
    border: 2px solid #000;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    border-right: 1px solid #ccc;
    /*padding-right: 10px;*/
    /*background-color: #eee;*/
    background-color: #682079;
}
.nav-menu-collapsed {
    display: none;
}
.nav-menu-expanded {
    width: 200px;
    height: 100%;
    z-index: 100;
    display: block;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
}
.nav-menu-content > ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
 }

 .nav-menu-content > ul > li > a {
     display: inline-block;
     padding: 20px 15px;
     width: 100%;
     /*border-bottom: 1px solid #aaa;*/
    font-family: 'Roboto Condensed';
    font-size: 15px;
    color: #fff;
    text-transform: lowercase;
 }
.nav-menu-content > ul > li >  a:hover {
    background-color: #932DAB;
    width: 100%;
    text-decoration: none;
}


