/* Import statements here ...*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);

body {
    font-family: 'Open Sans';
    margin: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed';
}

footer.main-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-left: -20px;
}
footer > ul.footer-nav > li {
    display: inline-block;
    list-style: none;
}
footer > ul.footer-nav {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.footer-nav > li:after {
    margin-left: 2px;
    margin-right: 2px;
    content: "|";
}
ul.footer-nav > li:last-child:after {
    content: "";
}

/* Adding some whitespace */
p {
    margin-bottom: 12px;
}
p.lead {
  margin-bottom: 20px;
  margin-top: 20px;
}
#platforms > h2 {
    font-family: 'Roboto Condensed';
}
#platforms > table {
    font-family: 'Open Sans';
}

/* Links */
a {
    color: #682079;
}
a:hover {
    color: #682079;
    text-decoration: underline;
}

.btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
  color: #fff;
  background-color: #682079;
}
.btn-gs-active {
    color: #fff;
    background-color: #682079;
}

/* Index page styles */
.btn-index-download {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    padding: 8px 24px;
    margin-top: 25px;
}
.btn-index-download:hover {
  color: #fff;
  background-color: #682079;
}
.lead-title {
    font-size: 45px;
    margin-top: 55px;
    margin-bottom: 35px;
}


